@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #2885D1;
    --cor-body:#131B23;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-body);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;

}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    
}

.apresentacao__conteudo {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}
 
.apresentacao__conteudo__texto {
    font-size: 1.4rem;
    font-family: var(--fonte-secundaria);  
    text-align: left; 
}

.apresentacao_about{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo__img {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.apresentacao__trab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__trab__subtitulo {

    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.apresentacao__trab__lista{
    font-size: 1.4rem;
    font-family: var(--fonte-secundaria);  
    text-align: left; 

}

.apresentacao__links {
    padding: 0% 13.45% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
}

.apresentacao__links__subtitulo {
    margin-top: 15px;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.apresentacao__links_nav {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3px 3px solid  var(--cor-terciaria);
    width: 60%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 22px 2px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links_nav:hover {
    background-color: var(--cor-terciaria);
    padding: 22.66px;
}

.img_background{
    width: 50%;
    flex-direction: column;
}
.apresentacao__contratar__servico {
    padding: 0% 13.45%;
    font-size: 1.4rem;
    font-family: var(--fonte-secundaria);   
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    text-align: left;

}
.apresentacao__trabalho {
    padding: 0% 13.45%;
    font-size: 1.4rem;
    font-family: var(--fonte-secundaria);   
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    text-align: left;

}
.apresentacao__conteudo__trabalho {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);   
    margin-bottom: 32px;
    padding: 16px;

}



.Rodape{
    padding: 16px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

.slider{
    margin: 75px auto;
    width: 550px;
    height: 500px;
    overflow: hidden;
}

.slides{
    width:400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 400px;
    margin-left: 22%;
}   

.manual-navigation{
    position: absolute;
    width: 500px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -27%;
}

#radio3:checked ~ .first{
    margin-left: -52%;
}
#radio4:checked ~ .first{
    margin-left: -77%;
}
#radio5:checked ~ .first{
    margin-left: -102%;
}

.navigation-auto div{
    border: 2px solid var(--cor-terciaria);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 500px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--cor-secundaria);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--cor-secundaria);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--cor-secundaria);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--cor-secundaria);
}


#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--cor-secundaria);
}



@media(max-width: 1000px){
    .cabecalho {
        padding: 5%;
    }
    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;

    }
    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__img{
        width: 100%;
    }
    .img_background{
        width: 100%;
        padding: 10px;
    }
    .apresentacao__trab{
        padding: 25px;
    }
    .apresentacao__links{
        padding: 25px;
    }
    .apresentacao__links_nav{
        width: 80%;
    }
    .slider{
        width: 90%;
        margin: 50px auto;
    }
    .slides{
        width: 300%;
    }
    .slide img{
        width: 250px;
        margin-left: 25%;
    }
    .manual-navigation{
        width: 300px;
    }
    .navigation-auto{
        width: 300px;
    }
}